body {
    padding-bottom: 70px; /* Jarak untuk bottom nav */
}

.nav-bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.logo-center {
    width: 100px;
    display: block;
    margin: 0 auto 20px auto;
}


.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0d6efd; /* Abu-abu Bootstrap */
    text-decoration: none;
    transition: color 0.3s;
}

.nav__link:hover {
    color: #0d6efd; /* Biru Bootstrap */
}

.nav__link .bi {
    font-size: 1.5rem;
}

.nav__text {
    font-size: 0.75rem;
}

.card-menu {
    transition: transform 0.2s, box-shadow 0.2s;
}
.card-menu:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}